@import 'color.css';

* {
	border: none;
	border-radius: 0;
	font-family: 'JetBrainsMonoNLNerdFontPropo', monospace;
	font-size: 16px;
	font-weight: 600;
	min-height: 0;
	padding: 0;
	margin: 0;
}

window#waybar {
	background: #16161d;
}

#workspaces {
    font-size: 10px;
	background: none;
	margin: 0px 2px;
}

#workspaces button {
	color: @white;
    padding: 4px;
	font-weight: bold;
}

#workspaces button:hover {
	background: none;
    box-shadow: none;
    text-shadow: none;
}

#clock {
    color: @white;
    font-size: 18px;
}

#backlight {
    color: @white;
    margin: 0px 8px;
}

#battery {
    color: @white;
    margin: 0px 8px;
}

#pulseaudio {
    color: @white;
    margin: 0px 8px;
}
